@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@font-face {
    font-family: "Glancyr";
    font-style: normal;
    /* font-weight: 400; */
    font-display: swap;
    src: url("../fonts/Glancyr-Regular.woff2") format("woff2"),
         url("../fonts/Glancyr-Regular.woff") format("woff"),
         url("../fonts/Glancyr-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Glancyr-Medium";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Glancyr-Medium.woff2") format("woff2"),
         url("../fonts/Glancyr-Medium.woff") format("woff"),
         url("../fonts/Glancyr-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Glancyr-SemiBold";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Glancyr-SemiBold.woff2") format("woff2"),
         url("../fonts/Glancyr-SemiBold.woff") format("woff"),
         url("../fonts/Glancyr-SemiBold.otf") format("opentype");
}

@theme {
    --font-poppins: "Poppins", "sans-serif";
    --font-inter: "Inter", "sans-serif";
    --font-glancyr: "Glancyr", "sans-serif";
    --font-glancyr-medium: "Glancyr-Medium", "sans-serif";
    --font-glancyr-semibold: "Glancyr-SemiBold", "sans-serif";
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
}